<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>

{{if .}}
<p>Error: {{.}}</p>
{{end}}

<h1>Please login to your account</h1>
<form method="post">
    <input type="text" name="username" placeholder="username" required><br>
    <input type="password" name="password" placeholder="password" required><br>
    <input type="submit">
</form>
</body>
</html>